/* Alle sider --> 1100px */

main {
  max-width: 1100px;
  margin: auto;
}

/* Billeder */

img {
  object-fit: fill;
  align-self: stretch;
  max-width: 100%;
  margin-left: left;
}

/* Baggrundsbillede på 'Om os' side */

.forside {
  background-image: url(forsideomos1.png);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: 25% 10%;
  position: sticky;
}

.forside {
  background-image: url(forsideomos1.png);
  height: 90vh;
  max-width: 100%;
  background-size: cover;
  align-self: stretch;
}
